@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

span[role=status] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

//shadow-sm

.card-body {
    box-shadow: $box-shadow-sm;
    &[open] {
        box-shadow: $box-shadow-lg;
    }
    details  {
        summary {
            list-style: none;
            &::-webkit-details-marker, &::marker {
                display: none;
            }
        }
    }

}
