section {
  background: #f8f9fa;
  header {
    margin: 0 auto;
    padding: 10rem 0;
    max-width: 800px;
    text-align: center;
    img {

    }
    h1 {
      font-size: 3.5rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }
}
